<!-- author Snigdha Kalathur -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>

{% if photo %}
<h2>Selected Photo:</h2>
    <ul>

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width='600'/><br>

        <!--pass uid of the selcted photo and current uid and only show this form if current user <> photo owner-->
        <br>
        {% if allowed %}
        <div class="title">
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('comments') }}">
                        <label for="comment">Post a Comment::</label>
                        <input type="text" name="comment" /><br />
                        <input id="photoID" name="photoID" type="hidden" value={{photo[1]}}>
                    <input type="submit" />
                </form>
             </div>
             {% endif %}

        <h4>Comments:</h4><br>
        <br>
        {% if comments%}
        <u1>
        {%for com in comments%}
        
        <li>
            {{com[6]}} commented on {{com[2]}}: {{com[1]}} <br>
             
        </li>
        {% endfor %}
        {% endif %}

        {% if anonComments%}
        <u1>
        {%for com in anonComments%}
        
        <li>
            Anonymous commented on {{com[2]}}: {{com[1]}} <br>
   
        </li>
        {% endfor %}
        {% endif %}
      </u1>
      </li>
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go back to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/friends'>Find and View Friends!</a> </li>
        <li><a href='/photoSearch'>Search Photos!</a> </li>
        <li><a href='/tags'>View Tags!</a> </li>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
</ul>
