<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}

    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width='600'/><br>
        <a href='/like?photoID={{photo[1]}}'>LIKE</a><br>
        <a href='/viewLikes?photoID={{photo[1]}}'>View Likes</a><br>
        <a href='/comments?photoID={{photo[1]}}'>Comment</a><br>

      </li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

{% if albums %}
    <ul>
    {% for album in albums %}

        <li>{{album[0]}}<br>
        <a href='/viewAlbumPictures?albumID={{album[1]}}'>VIEW</a>

      </li>
    {% endfor %}
    </ul>
{% endif %}



<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/friends'>Find and View Friends!</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
<li><a href='/createAlbum'>Create Album</a></li>
<li><a href='/viewPhotos'>View All Photos</a></li>
<li><a href='/viewYourPhotos'>View Your Photos</a></li>
<li><a href='/photoSearch'>Search Photos!</a> </li>
<li><a href='/viewAlbums'>View All Albums</a></li>
<li><a href='/viewYourAlbums'>View Your Albums</a></li>
<li><a href='/tags'>View Tags!</a> </li>
<li><a href='/reccomendFriends'>Friend Reccomendations!</a> </li>
<li><a href='/photoRecs'>You May Also Like</a></li>
<li><a href='/userActivity'>User Activity</a></li>
<li><a href='/searchComments'>Search Comments</a></li>
</ul>
