<!-- author Snigdha Kalathur -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>

{% if photo %}
<h2>Selected Photo:</h2>
    <ul>

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width='600'/><br>
        Total Likes: {{count}}<br>
        <br>
        {% if likes %}
        <u1>
        {%for like in likes%}
        <li>
            {{like[0]}} {{like[1]}} {{like[2]}}
        </li>
        {% endfor %}
        </u1>
        {% endif %}
      </li>
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go back to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/'>Home</a></li>
</ul>
