<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Input an Album Name</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/createAlbum">
                <label for="albumName">Enter album name:</label>
                <input type="text" name="albumName" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>
    </body>
