<!-- author Snigdha Kalathur -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>


<div class="title">
    <h3>Search Photos By Tag:</h3>
</div>
<div id="content">
    <form method="post" action="{{ url_for('photoSearch') }}">
        <label for="photoSearch">Enter tag to search by:</label>
        <input type="text" name="photoSearch" /><br />
        <input type="submit" />
    </form>
 </div>

 {% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width='600'/><br>
        <a href='/like?photoID={{photo[1]}}'>LIKE</a><br>
        <a href='/viewLikes?photoID={{photo[1]}}'>View Likes</a>
      </li>
    {% endfor %}
    </ul>
{% endif %}

{% if photos == []%}
<h2>No photos match your results</h2>
{% endif %}


{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/friends'>Find and View Friends!</a> </li>
        <li><a href='/photoSearch'>Search Photos!</a> </li>
        <li><a href='/tags'>View Tags!</a> </li>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
</ul>
